.app-container {
  font-family: 'Helvetica Now Display Extra Light';
  font-weight: bold;
  font-size: 16px;
  width: 80%; /* viewport width or 31.25, whichever is smaller */
  position: absolute;
  margin: auto;
  /* left and right ensure the app container is centered horizontally */
  left : 0;
  right: 0;
  top: 1.875em;
  background-color: #f6f6ef;
  height: 100vh;
}
.title-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  align-items: center;
  background:#ff6600;
  height: 25px;
}
.title-container > h4 {
  font-family: 'Helvetica Now Display Bold';
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
  color: black;
}

.topic {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: upper-latin;
}
.topic-tema {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
  margin-left: 30px;
  height: 25px;
}
.topic-links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
  margin-left: 30px;
  height: 25px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-left: 30px;
  height: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #f6f6ef;
}
.footer > p {
   margin: 0;
  color: black;
}
.article {
  cursor: pointer;

}
/* li:hover {
  text-decoration: underline;
} */
ul :nth-child(1):hover {
  text-decoration: underline;
}
ul :nth-child(2):hover {
  text-decoration: underline;
}
ul :nth-child(3):hover {
  text-decoration: underline;
}
ul :nth-child(4):hover {
  text-decoration: underline;
}
ul :nth-child(5):hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: black;
}